{% extends "base.html"%}

{% block content%}

    <link href="../static/summernote/summernote-lite.css" rel="stylesheet">
    <script src="../static/summernote/summernote-lite.js"></script>


    <label class="form-control-label" for="title">Title</label>
    <input id="title" name="title" class="form-control form-control-lg" required type="text">
    
    <label class="form-control-label" >Content</label>
    <div id="summernote"></div>

    <button id='btnpost' class="btn btn-outline-info">Post</button>
    <button id='btndraft' class="btn btn-outline-info">Draft</button>


  <script>
    $(document).ready(function() {
        $('#summernote').summernote('code','<p>Hello</p>');
    });
  </script>

  <script>
        const postButton = document.getElementById('btnpost');
        const draftButton = document.getElementById('btndraft');

        postButton.addEventListener('click', ()=>{
            post_form('post');

        },false);
        draftButton.addEventListener('click', ()=>{
            post_form('draft');

        },false);


        function post_form(type){
            
            content= $('#summernote').summernote('code');

            const form = document.createElement('form');
            form.method = 'post';
            form.action = '/post/new';

            const hiddeninput = document.createElement('input');
            hiddeninput.name='type';
            hiddeninput.type='hidden';
            hiddeninput.value=type;
            form.appendChild(hiddeninput);

            const hiddentitle = document.createElement('input');
            hiddentitle.name='title';
            hiddentitle.type='hidden';
            hiddentitle.value=$('#title').val();
            form.appendChild(hiddentitle);

            const hiddenField = document.createElement('textarea');
            hiddenField.name='content';
            hiddenField.style="display:none;";
            hiddenField.value=content;
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();

        };

  </script>
{% endblock content%}